.parent{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 90px 90px;
}

.child{
    border: 1px solid red;
}

.parent-repeat{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 90px);
}


.parent-fractions{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(2, 40px 90px);
}

.parent-gap{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(2, 100px);
    gap:10px ;
    row-gap: 20px;
}